<!DOCTYPE html>
<html>
  <head>
    <title>IoT Security and Management</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>IoT Security and Management</h1>
    <p>Welcome to Secured IoT environment</p>
  </body>
</html>